/*
  large screen > 992px
  medium screen > 600px
*/
#bookmarkInfo p,
#bookmarkInfo span {
  font-size: 1rem;
}
#bookmarkInfo code {
  color: #f44336;
}
#history-list li {
  padding-left: 3em;
}
#main-content > section {
  padding-top: 1em;
  background-color: white;
}
#bookmarkInfo {
  padding-bottom: 2em;
}
#folderInfo {
  padding-bottom: 1.5em;
}
#info-edit > button,
#folder-info-edit > button {
  margin: 0.3em;
}
#info-edit {
  background-color: white;
}

.child-info-wrapper > a:hover > span {
  opacity: 0.7;
}
.child-info-wrapper {
  position: relative;
  font-size: 1rem;
  padding: 0.5em 2em;
}
.child-info-wrapper img {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.edit-child-info-icon {
  color: #5f6368;
  font-size: 1.3rem;
  position: absolute;
  right: 0em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
  transition: background-color 50ms;
}
.edit-child-info-icon:hover {
  background-color: #f1f1f1;
}
.edit-child-info-icon:active {
  background-color: #e0e0e0;
}
#folderInfo,
#bookmarkInfo {
  border-radius: 10px;
}
#folder-info-display {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
