#bookmarkInfo p,
#bookmarkInfo span {
  font-size: 1rem;
}
#bookmarkInfo code {
  color: #f44336;
}
#history-list li {
  padding-left: 3em;
}
#bookmarkInfo,
#folderInfo {
  padding-top: 1em;
  padding-bottom: 3em;
  background-color: white;
}
#info-edit > button,
#folder-info-edit > button {
  margin: 0.3em;
}
#info-edit {
  background-color: white;
}
