body {
  background-color: #f8f9fa;
}
/* NAV */
.logo {
  height: 20%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.brand-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-wrapper {
  padding-left: 1em;
  padding-right: 0.5em;
}

/* Main */

main {
  padding-top: 6em;
  padding-left: 300px;
  padding-bottom: 7em;
}

@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
  }
}

/* Footer */
.footer-icons {
  position: fixed;
  bottom: 2em;
  right: 4em;
}
.action-btn {
  display: inline-block;
}
.action-btn > ul > * {
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
.action-btn > ul {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 200ms ease-in-out;
  padding-bottom: 0.3em;
}
.action-btn:hover > ul {
  visibility: visible;
  height: auto;
  opacity: 1;
}
