/* Tree View */
#treeView {
  padding-top: 1em;
  padding-right: 0.1em;
  padding-bottom: 3em;
  min-height: 400px;
  overflow: auto;
  white-space: nowrap;
}
#treeView span {
  display: inline-flex;
  vertical-align: middle;
  padding-left: 0.3em;
  font-size: 1rem;
}
#treeView i {
  display: inline-flex;
  vertical-align: middle;
}

/* File */
.file {
  position: relative;
  display: block;
  cursor: pointer;
}

/* .file:hover {
  background-color: #ccc;
} */

/* Folder */
.folder {
  display: block;
}
.folder-header {
  position: relative;
  cursor: pointer;
  /* z-index: 999; */
}

/* .folder-header:hover {
  background-color: #ccc;
} */
.folder > ul {
  padding-left: 1em;
  margin: 0;
}
